<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MallAR.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66ABD4B023473F580024CBEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66ABD4C623473F5A0024CBEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66ABD4D123473F5A0024CBEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
